
[RUNNER]

install_backup_path = /root/backup
logfile = /root/adminscripts.log
loglevel = 2
secure_runner = yes
loginuser = admintools
login_user_pw = /avPfqLH3Nlc/xVZyNkhoo==
change_user_pw = 0efciJW8I9nGLqkgFLhBz3==

[APP_CONFIG]

enable_application_security = yes
site_name = {{ (local_realm | splitext)[0] }}
index_memory = 2048
data_memory = 3072

[SNMP]

snmp_1 = {{ hostvars['upm_vip'].ansible_host }}
snmp_2 = 5.5.5.4
community = public

[EDN]

network = {{ ansible_default_ipv4.network }}
netmask = {{ ansible_default_ipv4.netmask }}
nexthop = {{ ansible_default_ipv4.gateway }}
interface = {{ ansible_default_ipv4.interface }}
version = 4
type = network

[MGMD]

type = server
os_type = rhel
host_key_detect = mgmd
default_gateway = EDN

{% for host in groups['dtra'] | union(groups['dtrb']) %}
apps_mgmd{{ loop.index }} = mgmd
{% endfor %}

{% for host in groups['dtra'] | union(groups['dtrb']) %}
mgmd{{ loop.index }} = mgmd_node{{ loop.index }} | EDN-{{ hostvars[host].ansible_host.split('.')[-1]  }}
{% endfor %}

[NDBD]

type = server
os_type = rhel
host_key_detect = ndbd
default_gateway = EDN

{% for host in groups['sysrv'] %}
apps_ndbd{{ loop.index }} = ndbd, sy_imdb
{% endfor %}

{% for host in groups['sysrv'] %}
ndbd{{ loop.index }} = ndbd_node{{ loop.index }} | EDN-{{ hostvars[host].ansible_host.split('.')[-1] }}
{% endfor %}