EXTPROC_CONNECTION_DATA =
  (DESCRIPTION =
     (ADDRESS =  (PROTOCOL = IPC)
          (KEY = EXTPROC)
     )
     (CONNECT_DATA =
          (SERVICE_NAME = EXTPROC)
     )
  )

{% for host in groups['manager'] %}
{% for inst in 'xe', 'oam', 'orp' %}
{{ inst | upper }}=
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL= TCP)(Host= {{ hostvars[host].ansible_host }})(Port= {{ 1521 }}))
    (CONNECT_DATA = (SERVICE_NAME = {{ inst }}))
  )
{% endfor %}
{% endfor %}

{% for host in groups['sdp'] %}
{% for inst in 'main', 'hist' %}
{{ inst | upper }}{{ host | regex_replace('[^0-9]','') | join ('') }}=
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL= TCP)(Host= {{ hostvars[host].ansible_host }})(Port= {{ 1521 }}))
    (CONNECT_DATA = (SERVICE_NAME = {{ inst }}))
  )
{% endfor %}
{% endfor %}

{# Not working
{% for host in groups['sdp'] %}
  {% raw %}
  {% if {{ hostvars[host].inventory_hostname == 'sdp1' }} %}
  {% endraw %}
    {% for inst in 'main', 'hist', 'pcat', 'ccdb %}
    {{ inst | upper }}{{ host | regex_replace('[^0-9]','') | join ('') }}=
      (DESCRIPTION =
        (ADDRESS = (PROTOCOL= TCP)(Host= {{ hostvars[host].ansible_host }})(Port= {{ 1521 }}))
        (CONNECT_DATA = (SERVICE_NAME = {{ inst }})
        (FAILOVER_MODE = (TYPE=SELECT)(METHOD=BASIC))
      )
    {% endfor %}
  {% else %}
    {% for inst in 'main', 'hist' %}
    {{ inst | upper }}{{ host | regex_replace('[^0-9]','') | join ('') }}=
      (DESCRIPTION =
        (ADDRESS = (PROTOCOL= TCP)(Host= {{ hostvars[host].ansible_host }})(Port= {{ 1521 }}))
        (CONNECT_DATA = (SERVICE_NAME = {{ inst }})
        (FAILOVER_MODE = (TYPE=SELECT)(METHOD=BASIC))
      )
    {% endfor %}
  {% endif %}
{% endfor %}
#}