<flow-definition plugin="workflow-job">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
    <script>{{ pipeline }}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>